
/*font-family: 'Muli', sans-serif;*/
/*font-family: 'Fira Sans Condensed', sans-serif;*/
.navbar-brand {
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #fff;
}
#main-panel{
	position: relative;
  background-image: url('./img/dashboard_bg.png');
  background-size: cover;
  background-position: center;


}
#chatBotButton {
	position: absolute;
	bottom: 100px;
	right: 100px;
}
#SideBar {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    padding: 20px;

}
#SideBar h5 {
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
}
.sidebar_header {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.2);

}
.sidebar_section {

}


  .avatar_mask {
	background-color: rgb(0, 0, 0);
	position: absolute;
	top:0; left:0;
  }
  .UPDATE_PHOTO {
	font-size: 20px;
	font-family: "Karla";
	color: rgb(173, 128, 125);
	font-weight: bold;
	line-height: 2.3;
	text-align: center;
	position: absolute;
	left: 10368.88px;
	top: 4855.5px;
	z-index: 646;
  }
  .active {
	background-color: rgb(173, 128, 125);
	position: absolute;
	left: 10368px;
	top: 4896px;
	width: 164px;
	height: 2px;
	z-index: 645;
  }
  .icon___More {
	background-color: rgb(0, 0, 0);
	
	width: 10px;
	height: 28px;
	
  }

 
  .name {
	font-size: 20px;
	font-family: "Karla";
	color: rgb(173, 128, 125);
	font-weight: bold;
	line-height: 2.3;
	text-align: left;
	position: absolute;
	left: 10178.88px;
	top: 5049.5px;
	z-index: 640;
  }
  .social_connection {
	font-size: 28px;
	font-family: "Karla";
	color: rgb(0, 0, 0);
	line-height: 1.643;
	text-align: left;
	position: absolute;
	left: 10177.649px;
	top: 5100.498px;
	z-index: 639;
  }
  .divider {
	background-color: rgb(0, 0, 0);
	opacity: 0.102;
	position: absolute;
	left: 10177px;
	top: 5164px;
	width: 492px;
	height: 2px;
	z-index: 637;
  }
  .Email {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12144px;
	height: 8120px;
	z-index: 636;
  }
  .EMAIL {
	font-size: 20px;
	font-family: "Karla";
	color: rgb(173, 128, 125);
	font-weight: bold;
	line-height: 2.3;
	text-align: left;
	position: absolute;
	left: 10178.87px;
	top: 5205.5px;
	z-index: 635;
  }
  .todd_app_com {
	font-size: 28px;
	font-family: "Karla";
	color: rgb(0, 0, 0);
	line-height: 1.643;
	text-align: left;
	position: absolute;
	left: 10178.037px;
	top: 5303.5px;
	z-index: 634;
  }
  .divider {
	background-color: rgb(0, 0, 0);
	opacity: 0.102;
	position: absolute;
	left: 10177px;
	top: 5320px;
	width: 492px;
	height: 2px;
	z-index: 632;
  }
 
  .dot {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10178px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 629;
  }
  .dot_1 {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10198px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 628;
  }
  .dot_2 {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10218px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 627;
  }
  .dot_3 {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10238px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 626;
  }
  .dot_4 {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10258px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 625;
  }
  .dot_5 {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10278px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 624;
  }
  .dot_6 {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10298px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 623;
  }
  .Dot {
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10318px;
	top: 5434px;
	width: 10px;
	height: 10px;
	z-index: 622;
  }
  .Divider {
	background-color: rgb(0, 0, 0);
	opacity: 0.102;
	position: absolute;
	left: 10177px;
	top: 5476px;
	width: 492px;
	height: 2px;
	z-index: 620;
  }
  .Push_notifications {
	font-size: 28px;
	font-family: "Karla";
	color: rgb(0, 0, 0);
	line-height: 1.643;
	text-align: left;
	position: absolute;
	left: 10177.937px;
	top: 5580.498px;
	z-index: 619;
  }
  .Switch {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12144px;
	height: 8120px;
	z-index: 618;
  }
  .Switch {
	border-radius: 50%;
	background-color: rgb(244, 180, 175);
	position: absolute;
	left: 10638px;
	top: 5594px;
	width: 20px;
	height: 20px;
	z-index: 617;
  }
  .Switch_Background {
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 10588px;
	top: 5584px;
	width: 80px;
	height: 40px;
	z-index: 616;
  }
  .Email_notification {
	font-size: 28px;
	font-family: "Karla";
	color: rgb(0, 0, 0);
	line-height: 1.643;
	text-align: left;
	position: absolute;
	left: 10177.937px;
	top: 5670.498px;
	z-index: 614;
  }
  .Switch {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12144px;
	height: 8120px;
	z-index: 613;
  }
  .Switch {
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 10598px;
	top: 5684px;
	width: 20px;
	height: 20px;
	z-index: 612;
  }
  .Switch_Background {
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 10588px;
	top: 5674px;
	width: 80px;
	height: 40px;
	z-index: 611;
  }
  .Send_Feedback {
	font-size: 26px;
	font-family: "Karla";
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1.769;
	text-align: center;
	position: absolute;
	left: 10329.301px;
	top: 5851.503px;
	z-index: 609;
  }
  .Button_Background {
	background-color: rgb(255, 197, 190);
	position: absolute;
	left: 10108px;
	top: 5816px;
	width: 630px;
	height: 120px;
	z-index: 608;
  }
  .Content_Background {
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 10108px;
	top: 4981px;
	width: 630px;
	height: 955px;
	z-index: 607;
  }
  

  .Content_Header {
	position: absolute;
	left: -368px;
	top: 0px;
	width: 12144px;
	height: 8120px;
	z-index: 651;
  }
  .Avatar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12144px;
	height: 8120px;
	z-index: 650;
  }
  .Avatar {
	background-image: url("Avatar.png");
	position: absolute;
	left: 10101px;
	top: 4770px;
	width: 219px;
	height: 224px;
	z-index: 649;
  }
  .Mask {
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10108px;
	top: 4782px;
	width: 200px;
	height: 200px;
	z-index: 648;
  }
  .UPDATE_PHOTO {
	font-size: 20px;
	font-family: "Karla";
	color: rgb(173, 128, 125);
	font-weight: bold;
	line-height: 2.3;
	text-align: center;
	position: absolute;
	left: 10368.88px;
	top: 4855.5px;
	z-index: 646;
  }
  .Active {
	background-color: rgb(173, 128, 125);
	position: absolute;
	left: 10368px;
	top: 4896px;
	width: 164px;
	height: 2px;
	z-index: 645;
  }
  .Icon___More {
	background-color: rgb(0, 0, 0);
	position: absolute;
	left: 10678px;
	top: 4867px;
	width: 10px;
	height: 28px;
	z-index: 644;
  }
  .Header_Background {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 10108px;
	top: 4782px;
	width: 630px;
	height: 200px;
	z-index: 643;
  }
  